body{
    background-color:  #F6F8F9;
    margin: 0;
    padding: 0;
}

/* avvio header */
.header-logo{
    background-color: #fff;
}

.header-logo #logo{
    height: 100px;
    vertical-align: middle;
}

.header-logo #logo-text{
    font-size: 50px;
    vertical-align: middle;
    font-weight: bold;
}

/* fine header */

/* avvio main */
#box-top{
    width: 60%;
    margin: auto;
    margin-top: 80px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color:  red;
}

.container{
    width: 90%;
    margin: auto;
    padding: 20px;
}

.button{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

.blue{
    background-color: rgba(16, 227, 255, 0.87);
}

.white{
    color: gray;
}